Job Scraper - Multi Sheet Export.json
{
  "name": "Job Scraper - Multi Sheet Export",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "id": "a408b548-e476-48e5-a1ed-f2cdb91ea9f1",
      "name": "Daily 8:10am Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1056,
        1856
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Category }}",
              "value2": "Web Development"
            }
          ]
        }
      },
      "id": "3a4ad3f1-6e2c-43a8-bbaf-0f4211df9d1a",
      "name": "Is Web Development?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1744,
        1856
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Category }}",
              "value2": "Web Design"
            }
          ]
        }
      },
      "id": "66d4e86e-a3d0-4ee4-9ea4-fd8a8304b5c8",
      "name": "Is Web Design?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1744,
        2016
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Category }}",
              "value2": "Data Science & Analytics"
            }
          ]
        }
      },
      "id": "ef82c16b-e251-4fbb-8419-cae472793089",
      "name": "Is Data Science & Analytics?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1744,
        2176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Category }}",
              "value2": "Graphics & UI/UX"
            }
          ]
        }
      },
      "id": "d163aeff-142d-4153-87e7-4cf5c29293fc",
      "name": "Is Graphics & UI/UX?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1744,
        2336
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Category }}",
              "value2": "Virtual Assistant"
            }
          ]
        }
      },
      "id": "d440b197-4900-40f2-b6c6-ad7e61b2db8b",
      "name": "Is Virtual Assistant?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1744,
        2512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Category }}",
              "value2": "Cybersecurity"
            }
          ]
        }
      },
      "id": "d4101afe-ea63-4a64-b769-f8a9c6616158",
      "name": "Is Cybersecurity?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1728,
        2640
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vhLkyaxiqN7d1CDmUNSujXMVdYqdbjcA1Mw4s1wdvEU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Web Development",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            { "id": "ID", "displayName": "ID", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Source", "displayName": "Source", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Title", "displayName": "Title", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Company", "displayName": "Company", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Location", "displayName": "Location", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Salary", "displayName": "Salary", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Remote", "displayName": "Remote", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Tech Stack", "displayName": "Tech Stack", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Score", "displayName": "Score", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Date Posted", "displayName": "Date Posted", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Date Found", "displayName": "Date Found", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "URL", "displayName": "URL", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Verified", "displayName": "Verified", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Description", "displayName": "Description", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Category", "displayName": "Category", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e5dc5e98-ce2e-4c48-b97d-74240a2e54e4",
      "name": "Web Development",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2032,
        1792
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xDGEgWkJ1Jebu7Dg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=1vhLkyaxiqN7d1CDmUNSujXMVdYqdbjcA1Mw4s1wdvEU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Web Design",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b8e01404-0774-445a-82a6-db7c896b9a49",
      "name": "Web Design",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2032,
        1952
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xDGEgWkJ1Jebu7Dg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vhLkyaxiqN7d1CDmUNSujXMVdYqdbjcA1Mw4s1wdvEU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Data Science & Analytics",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "39b1a628-acd6-48b1-9ddb-9618b7e0ed5a",
      "name": "Data Science & Analytics",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2032,
        2112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xDGEgWkJ1Jebu7Dg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vhLkyaxiqN7d1CDmUNSujXMVdYqdbjcA1Mw4s1wdvEU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Graphics & UI/UX",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ee7b8389-945d-49d8-98ce-e973e0ec020e",
      "name": "Graphics & UI/UX",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2032,
        2272
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xDGEgWkJ1Jebu7Dg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vhLkyaxiqN7d1CDmUNSujXMVdYqdbjcA1Mw4s1wdvEU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Virtual Assistant",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "04b0fb7e-3fd1-4252-8d4b-59885405f1a4",
      "name": "Virtual Assistant",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2032,
        2432
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xDGEgWkJ1Jebu7Dg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vhLkyaxiqN7d1CDmUNSujXMVdYqdbjcA1Mw4s1wdvEU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Cybersecurity",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7eb540e6-2ded-4658-838e-4517af15ff48",
      "name": "Cybersecurity",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2032,
        2592
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xDGEgWkJ1Jebu7Dg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vhLkyaxiqN7d1CDmUNSujXMVdYqdbjcA1Mw4s1wdvEU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Digital Marketing",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "105177b6-ab30-42b0-a440-3b1913873568",
      "name": "Digital Marketing",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2032,
        2752
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xDGEgWkJ1Jebu7Dg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Category }}",
              "value2": "Internship"
            }
          ]
        }
      },
      "id": "1f038956-88b0-4e4b-a7c6-ee419efe4c08",
      "name": "Is Internship?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1744,
        2816
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vhLkyaxiqN7d1CDmUNSujXMVdYqdbjcA1Mw4s1wdvEU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Internship",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "21353af8-962e-4d3d-a55f-370424549be8",
      "name": "Internship",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2032,
        2912
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xDGEgWkJ1Jebu7Dg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Category }}",
              "value2": "Caregiver/Health Care Assistant"
            }
          ]
        }
      },
      "id": "a518e501-c357-4090-98a7-96e85bf6c7a0",
      "name": "Is Caregiver?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1744,
        2976
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vhLkyaxiqN7d1CDmUNSujXMVdYqdbjcA1Mw4s1wdvEU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Caregiver/Health Care Assistant",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "10c1ed73-0855-4523-a796-845115fe813f",
      "name": "Caregiver/Health Care Assistant",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2032,
        3040
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xDGEgWkJ1Jebu7Dg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://worker-production-aa80.up.railway.app/jobs/unsynced?hours=24",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1264,
        1856
      ],
      "id": "7c672a05-f866-4021-a4ca-52c1ee78bc8c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://worker-production-aa80.up.railway.app/jobs/mark_synced",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $input.all().map(item => item.json.ID).filter(id => !!id).map(id => String(id)) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1450,
        1600
      ],
      "id": "0adb4078-d091-444f-a73f-dd8031504891",
      "name": "Mark Synced",
      "executeOnce": true
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 8:10am Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Web Development?": {
      "main": [
        [
          {
            "node": "Web Development",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Web Design?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Web Design?": {
      "main": [
        [
          {
            "node": "Web Design",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Data Science & Analytics?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Data Science & Analytics?": {
      "main": [
        [
          {
            "node": "Data Science & Analytics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Graphics & UI/UX?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Graphics & UI/UX?": {
      "main": [
        [
          {
            "node": "Graphics & UI/UX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Virtual Assistant?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Virtual Assistant?": {
      "main": [
        [
          {
            "node": "Virtual Assistant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Cybersecurity?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Cybersecurity?": {
      "main": [
        [
          {
            "node": "Cybersecurity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Internship?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Internship?": {
      "main": [
        [
          {
            "node": "Internship",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Caregiver?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Caregiver?": {
      "main": [
        [
          {
            "node": "Caregiver/Health Care Assistant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Digital Marketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Is Web Development?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark Synced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "final-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4743f28490863fbdfeac2539311576460c7a88c877aa45a6f0bc0b4709610d6"
  },
  "id": "foLXPxY7a4gMdNFt",
  "tags": []
}